<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LazyCoder || sumit</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>
<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="{% static accounts %}" alt="Profile Pic" />
      <br><br>
      <h6>Doctor</h6>
      <h2>{{request.user.first_name}}</h2>
    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard"> <a style="color:white; text-decoration:none;" href="/doctor-dashboard"><span>Dashboard</span></a> </li>
      <li tabindex="0" class="icon-users"> <a style="color:white; text-decoration:none;" href="{% url 'ticket:createTicket' %}"><span>Create Ticket</span></a></li>
      <li tabindex="0" class="icon-calendar"> <a style="color:white; text-decoration:none;" href="{% url 'ticket:listTicket' %}"><span>Ticket Listing</span></a></li>
    </ul>
  </nav>
  
  <main>
 <div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#337AB7;">
        <a href="/doctor-dashboard" class="navbar-brand">HOSPITAL MANAGEMENT</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 90%;">

            <a href="{% url 'accounts:logout' %}" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
    </div>
{%block content%}

  {%endblock content%}
  </main>
  
 
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>